#hojaDeEstilosExterna h4 {
    color: blueviolet;
    font-size: 2rem;
    text-decoration: underline;
}

#hojaDeEstilosExterna p {
    text-align: justify;
}

/*para modificar el ultimo hijo de un elemento*/
#hojaDeEstilosExterna p:last-child {
    text-align: center;
}

#hojaDeEstilosExterna img {
    width: 90px;
    margin: 20px;
    display: inline-block;
}