/* Css que se aplica al main de la pagina about us*/


.sobreNosotrosMain .historia>article:nth-child(2),
.sobreNosotrosMain .historia>article:last-child {
    margin-top: 50px;
}

.sobreNosotrosMain .historia>*>*:nth-child(2) {
    border: 1px solid var(--botonActivo);
    border-radius: 15px;
    padding: 20px;
    margin: 0 10%;
}

/* Equipo!! */

.fichasEquipo {
    display: flex;
    justify-content: space-between;
}

article.empleado {
    width: 32%;
    background-color: white;
    box-shadow: 0 0 10px var(--colorSecundario);
    border-radius: 15px;
    overflow: hidden;
}

article.empleado *:nth-child(n+2) {
    padding: 2%;
    text-align: left;
}

article.empleado img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s ease;
}

article.empleado:hover img {
    transform: scale(1.1);
}

/* fotos de la clinica */
section.galeria {
    padding: 0
}

section.galeria h2 {
    padding: 0 10%;
}

section.galeria .imagenesGaleria {
    display: flex;
    width: 100%;
    justify-content: center;
}

section.galeria .imagenesGaleria div {
    flex: 1 1 200px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.galeria .imagenesGaleria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    transition: transform 0.3s ease;
}

/*Imagen del medio más ancha */
section.galeria .imagenesGaleria div:nth-child(3) {
    flex: 2 1 400px;
    aspect-ratio: 2 / 1;
}

section.galeria .imagenesGaleria div:nth-child(3) img {
    object-position: top;
}

section.galeria .imagenesGaleria div img:hover {
    transform: scale(1.1);
}




/*************************************************
************  ESCALANDO  *************************
**************************************************/


/* Tablets */
@media (max-width: 1024px) {
    .fichasEquipo {
        gap: 30px;
    }

    article.empleado {
        width: 40%;
    }

    .infoEmpleado {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    article.empleado * {
        margin-bottom: 10px;
    }
}

/* Móviles */
@media (max-width: 600px) {
    .fichasEquipo {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    article.empleado {
        width: 90%;
    }
}